body {
	background-color: #020202 !important;
}

header .row{
	display: flex;
	align-items: center;
}

@media (max-aspect-ratio: 1/1)
{
	header .row, footer .row{
		flex-direction: column;
	}
}

 footer .row {
	display: flex;
	align-items: center;
}


header h1{
	font-family: 'Gugi', sans-serif;
	font-weight: 300;
	font-size: 3rem;
}

header nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 2rem;
}

header nav a{
	color: black;
}

header p, a {
	font-family: 'Gugi', cursive;
	padding: 20px;
}

.jumbotron {
	display: flex;
	background-image: url("http://hdqwalls.com/wallpapers/minimalist-mountains-black-and-white-ap.jpg");
	background-size: cover;
	height: 100rem;
	padding-top: 0;
	border-top: 0px solid black;
	margin-top: -50rem;
}

footer .col-sm-3{
	height: 5rem;
	width: 8rem;
}

footer clickedButton{
	
}
