body {
	background-color: #020202 !important;
}

header .row, footer .row {
	display: flex;
	align-items: center;
}

header h1{
	font-family: 'Gugi', cursive;
	font-weight: 300;
	font-size: 40px;
}

header nav {
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
}

header nav a{
	color: black;
}

header p, a {
	font-family: 'Gugi', cursive;
	padding: 20px;
}

.jumbotron {
	display: flex;
	background-image: url("http://hdqwalls.com/wallpapers/minimalist-mountains-black-and-white-ap.jpg");
	background-size: cover;
	height: 1000px;
	padding-top: 0;
	border-top: 0px solid black;
	margin-top: -516px;
}

footer img {
	height: 50px;
	width: 50px;
}
